<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'extjs/resources/css/ext-all' %>
    <%= stylesheet_link_tag 'siesta/resources/css/siesta-all' %>

    <!-- Ext JS library -->
    <%= javascript_include_tag 'extjs/ext-all-debug' %>

    <%= javascript_include_tag 'siesta/siesta-all' %>

    <%= include_siesta_config %>
    <%= include_test_harness %>
  </head>

  <body>
  </body>
</html>
